.item-container
{
    /* background-color: rgb(255, 204, 252); */
    border-radius: 10px;
    overflow: hidden;
}


/* .item-container:hover
{
    transform: scale(1.05,1.05);
    box-shadow: 0px 0px 10px rgb(220, 220, 220);
} */


.item-image
{
    width: 100%;
    border-radius: 10px;
    cursor: pointer;

}

.item-title
{
    margin: 10px;
    color: #9A1663;
    font-weight:  bold;
}

.item-price
{
    margin: 0px 10px;
    color: #9A1663;

    font-family: "Merriweather", serif;
    font-weight: 700;
}



/* .add-cart-button
{
    height: 30px;
    max-width: 100%;
    width: 100%;
    margin: 10px;
    color: white;
    background-color: #272727;
    border: none;
    border-radius: 10px;
} */


.favorite-button
{
    height: 30px;
    width: 30px;
    margin: 10px 10px 10px 0;
    color: white;
    background-color: #272727;
    border: none;
    border-radius: 10px;
}
