.footer-container
{
    width: 100%;
    /* height: 50px; */
    background-color: #9A1663;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}

.f-inner-container
{
    width: 100%;
    max-width: 1200px;

    display: flex;
    justify-content: space-between;

    color: white;
}

.footer-details
{
    margin: 0;
}

.f-logo-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.f-list
{
    list-style: none;
    text-decoration: none;
    padding: 0;
}

.f-logo-list
{
    list-style: none;
    text-decoration: none;
    display: flex;
    padding: 0;
}

.f-text
{
    color: white;
    margin-left: 5px;
}

.f-icon
{
    height: 40px;
    margin: 5px;
}

.f-logo-img
{
    height: 70px;
}

.f-about-container
{
    width: 400px;
}


@media (width <= 1080px) {

    .f-logo-container
    {
        width: 100%;
    }

    .f-inner-container
    {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}
