

.detailsContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
    /* border: solid 2px black; */

}

.detailContainer
{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.detailContainerParent
{
    padding: 10px;
    flex: 1;
}

.productImageSection
{
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productImage {
    height: 400px;
}

.moreImagesContainer
{
    height: 600px;
    /* background-color: gray; */
    margin-right: 30px;
    display: flex;
    flex-direction: column;
}

.productDetailsSection
{
    width: 400px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
}

.productTitle
{
    font-size: large;
    /* margin: 20px; */
    margin-top: 100px;
    font-weight: bold;
}



.priceContainer
{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.quantityBtn
{
    height: 30px;
    width: 30px;
    background-color: #272727;
    background-color: #9A1663;

    color: white;
    border-radius: 5px;
    border: none;
}

.quantityBtn:active
{
    background-color: #000000;
}

.quantityInput
{
    text-align: center;
    margin: 0 10px;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #ffe1f3;;
}
.price
{
    font-size: large;
    font-family: "Merriweather", serif;
    font-weight: 700;
}

.variants-container
{
    margin-top: 10px;
    display: flex;
}

@media (width <= 600px) {
    .detailsContainer
    {
        flex-direction: column;
        align-items: stretch;
        /* border: solid 2px black; */
    }

    .productTitle
    {
        margin-top: 20px;
    }


    .productDetailsSection
    {
        min-height: 500px;
    }

    .moreImagesContainer
    {
        height: auto;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

