

.detailsContainer
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* border: solid 2px black; */

}

.detailContainer
{
    display: flex;
    flex-direction: column;
}

.detailContainerParent
{
    flex: 1;
}

.productImageSection
{
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productImage {
    height: 400px;
}

.productDetailsSection
{
    width: 400px;
    height: 600px;

    /* background-color: gray; */
    /* border: solid 2px black; */
    display: flex;
    flex-direction: column;
}

.detailContainer
{
    flex: 1;
}

.productTitle
{
    font-size: x-large;
    margin: 20px;
    margin-top: 100px;
    font-weight: bold;
}
.productDescription
{
    margin: 20px;
}

.priceContainer
{
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.quantityBtn
{
    height: 30px;
    width: 30px;
    background-color: #272727;
    color: white;
    border-radius: 5px;
    border: none;
}

.quantityBtn:active
{
    background-color: #000000;
}

.quantityInput
{
    text-align: center;
    margin: 0 10px;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: rgb(221, 233, 233);
}
.price
{
    font-size: x-large;
}


@media (width <= 600px) {
    .detailsContainer
    {

        flex-direction: column;
        /* border: solid 2px black; */
    }

    .productTitle
    {

        margin-top: 20px;
    }
    .productDescription
    {
        margin: 20px;
    }

    .productDetailsSection
    {
        height: 400px;

    }
  }

