.searchbar-container
{
    background-color: rgb(255, 255, 255);
    height: 40px;
    width: 500px;
    border-radius: 5px;
    overflow: hidden;
    /* padding-left: 20px; */
    /* margin-left: 20px; */

    display: flex;
}

.searchbar-input
{
    height: 40px;
    flex: 1;
    border: none;
    padding-left: 20px;
    outline: none;
}

.search-icon
{
    margin-top: 5px;
    color: gray
}

.searchbar-buttom
{
    height: 40px;
    width: 40px;
    background-color: rgb(232, 232, 232);
    border: none;
}

.searchbar-buttom:active
{
    background-color: rgb(195, 195, 195);
}

