.secondary-button
{
    background-color: rgb(233, 233, 233);
    color: rgb(42, 42, 42);
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    margin: 5px;
    /* width: 100%; */
    cursor: pointer;
    font-size: medium;
}

.secondary-button:hover
{
    background-color: rgb(202, 198, 198);
}

