.hero-container
{
    height: 450px;
    width: 100%;
}

.hero-item-first
{
    background-image: url('../../assets/hero.jpg');
    background-size: cover;
    background-position: center;
}

.hero-item-second
{
    background-image: url('../../assets/hero2.jpg');
    background-size: cover;
    background-position: center;
}

.hero-item-third
{
    background-image: url('../../assets/hero3.jpg');
    background-size: cover;
    background-position: center;
}

@media (width <= 600px) {
    .hero-container
    {
        height: 250px;
    }
  }