.dangour-button
{
    background-color: red;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    margin: 5px;
    /* width: 100%; */
    cursor: pointer;
    font-size: medium;
    min-width: 100px;
    height: 38.5px;
}

.dangour-button:hover
{
    background-color: rgb(229, 0, 0);
}

