.primary-outline-button
{
    height: 40px;
    max-width: 100%;
    flex: 1;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    border: #9A1663 solid 1px;
    color: #9A1663;
}

.buttons-container
{
    display: flex;
    align-items: center;
}

.primary-outline-button:disabled
{
    border: #aeaeae solid 1px;
    color: #aeaeae;
}