
.logo
{
    /* font-family: "Dancing Script"; */
    /* font-family: "Great Vibes"; */
    font-family: "Sacramento";
    margin: 0 20px 0 0 ;
}

.navbar-container-outer
{
    background-color: #ffa200;
    background-color: #272727;
    background-color: #9A1663;
    
    height: 70px;
    display: flex;
    justify-content: center;
}

.navbar-continer
{
    width: 100%;
    /* max-width: 1300px; */
    height: 70px;
    background-color: #ffa200;
    background-color: #272727;
    background-color: #9A1663;
    /* background-color: #d400ff; */

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Bootstrape navbar */
/* .navbar
{
    /* background-color: #272727; */
} */

.navbar-continer h1{
    color: white;
    margin-left: 20px;
    width: 250px;
}

.right-navlink{
    width: 250px;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right-navlink li
{
    list-style: none;
    /* align-self: flex-end; */
    margin-right: 20px;
}

.left-navlink
{
    /* justify-self: flex-end; */
    width: 250px;
    margin: 0;
    display: flex;
}

.left-navlink li
{
    /* justify-self: flex-end; */
    margin-right: 20px;
}

a
{
    text-decoration: none;
    color: rgb(113, 113, 113)
}

.cart-desktop
{
    display: none;

}
.cart-mobile
{
    display: block;
}

.cartIcon
{
    width: 40px;
    color: #ffa200;
}

.cartIconConatiner
{
    /* background-color: gray; */
    position: relative;
}

.cartBadgeContainer
{
    width: 20px;
    border-radius: 10px;
    background-color: rgb(255, 0, 0);
    position: absolute;
    top: -5px;
    right: -5px;

    text-align: center;
    color: white;
    font-size: small;
}



@media (width <= 600px) {
    .cart-desktop
    {
        display: block;
    }
    .cart-mobile
    {
        display: none;
    }

   
}

