.navbar-container-outer
{
    background-color: #ffa200;
    height: 70px;
    display: flex;
    justify-content: center;
}

.naavbar-continer
{
    width: 100%;
    max-width: 1300px;
    height: 70px;
    background-color: #ffa200;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.naavbar-continer h1{
    color: white;
}

.naavbar-continer li
{
    list-style: none;
    /* align-self: flex-end; */

}

.search-container
{
    /* justify-self: flex-end; */
}

.naavbar-continer a
{
    text-decoration: none;
    color: white
}


