.add-cart-button
{
    height: 40px;
    max-width: 100%;
    flex: 1;
    margin: 10px;
    border: none;
    
    border-radius: 10px;

    cursor: pointer;

    color: white;
    /* border: none; */
    /* background-color: rgb(161, 0, 0); */
    background-color: #9A1663;
}

/* .add-cart-button:active
{
    background-color: #640e40;
    color: white;
} */
.buttons-container
{
    display: flex;  
    align-items: center;
}

.add-cart-button:disabled
{
    border: #aeaeae solid 1px;
    color: #aeaeae;
    background-color: #717171;
}