.add-cart-button
{
    height: 50px;
    max-width: 100%;
    flex: 1;
    margin: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: #9A1663;
}

/* .add-cart-button:active
{
    background-color: #640e40;
    color: white;
} */
.buttons-container
{
    display: flex;  
    align-items: center;
}

.add-cart-button:disabled
{
    border: #aeaeae solid 1px;
    color: #aeaeae;
    background-color: #717171;
}