.announcementBarContainer
{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9A1663;
    background-color: #1b1b1b;
    color: white;

}

.heading-content-container
{
    position: sticky;
    top: 0;
    z-index: 100;
}