.cartItemContainer
{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: antiquewhite; */

    /* flex-direction: column; */
    /* width: 100vh; */
    border-bottom: solid 2px rgb(164, 164, 164);
}

.removeButtonContainer
{
    margin: 20px;
    display: flex;
    align-items: center;
}

.cartItemDetailsOuterContainer
{
    display: flex;
}

.cartItemImage
{
    width: 100px;
    /* width: 10rem; */
    margin-right: 20px;
}

.cartItemDetailsContainer > p
{
    /* margin-left: 20px; */
    margin-bottom: 10px;
}

.cartItemTitle
{
    font-weight: bolder;
    font-size: x-large;
}


@media (width <= 600px) {

    .removeButtonContainer
    {
        margin: 5px 10px 0 0;
    }

    .cartItemContainer
    {
        /* width: 100vh; */
        flex-direction: column;
    }

    .cartItemDetailsOuterContainer
    {
        align-items: center;
    }

    .cartItemContainer
    {
        align-items: stretch;
    }

    .quantityContainer
    {
        margin: 10px;
    }

    .cartItemTitle
    {
        font-weight: bold;
        font-size: large;
    }

    .cartItemQuantityContainer
    {
        display: flex;
        justify-content: flex-end;
    }
}

