.buttonOutline
{
    height: 40px;
    max-width: 100%;
    flex: 1;
    margin: 10px;
    border: #9A1663 solid 1px;
    background-color: #9a166300;
    border-radius: 20px;
    cursor: pointer;
    color: #9A1663;
}

/* .buttonOutline:hover
{
    background-color: #E0144C;
    color: white;
}

.buttonOutline:active
{
    background-color: #9A1663;
    color: white;
} */
.buttons-container
{
    display: flex;
    align-items: center;
}

.buttonOutline:disabled
{
    border: #aeaeae solid 1px;
    color: #aeaeae;
}